@import url(./globals.css);

nav{
    display: none;
}

header {
    height: 60px;
    background: var(--color--superficie2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    border-bottom: 1px solid var(--color--superficie);
}

.logo {
    height: 40px;
    width: 60px;
    background: var(--color-primary);
    border-radius: 10px;
}
.logo img{
    height: 40px;
    width: 60px;
    border-radius: 10px;
}

.menu-icon {
    margin-left: auto;
    width: 40px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
}

.menu-line {
    height: 3px;
    background: #ccc;
    border-radius: 2px;
}

@media (min-width: 700px) {
    /* aca se usa todo lo que es el header del escritorio*/
    .menu-icon{
        display: none;
    }

    header{
        margin: 15px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    nav {
        display:inline-block;
        width: 400px;
    }
    
    li{
        list-style: none;
    }
    
    li a{
        all: unset;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    li:hover{
        cursor: pointer;
    }
    li a:hover{
        color: #f0f0f0;
    }
}   